/*Global*/
body{
    background-color: #394160 ;
    margin: 0px auto;
    color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

/*Body*/
#Calculator{
    margin: 0px auto;
    margin-top: 20vh;
    width: 26vw;
}

#input{
    padding-bottom: 20px;    
}

#input input{
    height: 35px;
    width: 99%;
    padding: 0px;
    border-width: 8px 4px 8px 0px;
    border-color: transparent;
    font-size: 25px;
    text-align: end;
    border-radius: 4px;
    color: #fff;
    background-color: #1c223a;
}

#numbers{
    border-radius: 4px;
    background-color: #1c1c3360 ;
    padding: 10px;
}

#numbers .row{
    display: flex;
    flex-direction: row;
}

#numbers .row button{
    display: block;
    width: calc(100%/4);
    height: 35px;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    background-color: #fcece7;
    color: rgb(104, 103, 103);
    border: 0;
    border-radius: 4px;
}

#numbers .row button:hover{
    cursor: pointer;
    transform: scale(1.06);
}

#numbers .row .blue{
    background-color: #394160 ;
    color: #fff;
}

#numbers .row .red{
    background-color: #dc493a;
    color: #fff;
}

#numbers .row .lasts{
    width: calc(100%/2);
}

@media only screen and (max-width: 790px){
    #Calculator{
        width: 36vw;
    }
}